<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de cursos</title>
</head>

<body>
    <p><a href="{% url 'index' %}"> Voltar</a></p>

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <h1>Lista de Cursos</h1>

    <table border="1" cellpadding="5" cellspacing="3">
        <tr>
            <th>Nome</th>
            <th>-</th>
            <th>X</th>
        </tr>
        {% for curso in cursos %}
        <tr>
            <td>{{ curso.nome|title }}</td>
            <td><a href="{% url 'editar_curso' curso.id %}">Editar curso</a></td>
            <td><a href="{% url 'excluir_curso' curso.id %}">Excluir curso</a></td>

        </tr>
        {% endfor %}
    </table>
</body>

</html>