{% extends 'academico/base.html' %}

{% block content %}

<div class="container my-3">
  <div class="row">
    <div class="col-8 mx-auto">
      <h1 class="text-center bg-secondary text-white py-2 shadow rounded">Lista de Cursos</h1>
    </div>
  </div>
</div>


<div class="container my-3">
  <div class="row">
    <div class="col-8 mx-auto">
      <table class="table table-hover table-success table-striped shadow rounded">
        <thead>
          <tr class="table-dark">
            <th>Nome</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for curso in cursos %}
          <tr>
            <td>{{ curso.nome }}</td>
            <td>
              <a href="{% url 'editar_curso' curso.id %}" class="btn btn-info btn-sm">Editar</a>
              <a href="{% url 'excluir_curso' curso.id %}" class="btn btn-danger btn-sm">Excluir</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3">Nenhum curso cadastrado.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}