<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="#">ACADÊMICO</a>

        <!-- Botão de toggler (menu hambúrguer) -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Itens da navbar -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:index' %}">Home</a>
                </li>

                <!-- Dropdown: Aluno -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="alunoDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Aluno
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="alunoDropdown">
                        <li><a class="dropdown-item" href="{% url 'alunos:cadastrar' %}">Cadastrar Aluno</a></li>
                        <li><a class="dropdown-item" href="{% url 'alunos:lista' %}">Alunos Ativos</a></li>
                        <li><a class="dropdown-item" href="{% url 'alunos:lista_inativos' %}">Alunos Inativos</a></li>
                    </ul>
                </li>

                <!-- Dropdown: Curso -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="cursoDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Curso
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="cursoDropdown">
                        <li><a class="dropdown-item" href="{% url 'cursos:cadastrar' %}">Cadastrar Curso</a></li>
                        <li><a class="dropdown-item" href="{% url 'cursos:lista' %}">Lista de Curso</a></li>
                    </ul>
                </li>

                <!-- Dropdown: Disciplinas -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="disciplinaDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Disciplinas
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="disciplinaDropdown">
                        <li><a class="dropdown-item" href="{% url 'disciplinas:cadastrar' %}">Cadastrar Disciplina</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'disciplinas:lista' %}">Lista de Disciplinas</a></li>
                    </ul>
                </li>

                <!-- Dropdown: Matrícula -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="matriculaDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Matrícula
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="matriculaDropdown">
                        <li><a class="dropdown-item" href="{% url 'disciplinas:listar_alunos_matricula' %}">Realizar
                                Matrícula</a></li>
                        <li><a class="dropdown-item" href="{% url 'disciplinas:historico' %}">Histórico de
                                Matrículas</a></li>
                    </ul>
                </li>

                <!-- Dropdown: Usuários -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="usuariosDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Usuários
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="usuariosDropdown">
                        <li><a class="dropdown-item" href="{% url 'auth:cadastrar' %}">Cadastrar Usuário</a></li>
                    </ul>
                </li>

                <!-- Contato -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contato:index' %}">Contato</a>
                </li>
            </ul>

            <!-- Usuário autenticado -->
            {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Olá, {{ user.username }}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
                        <li><a class="dropdown-item text-danger" href="{% url 'auth:logout' %}">Sair</a></li>
                    </ul>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>